body{
    background-color: rgb(250, 242, 233);
    max-width: 430px;
    margin: auto;
}

*{
    margin: auto;
    font-family: 'Verdana';
    border-color: lightgray;
    border-radius: 5px;
}

.nombre{
    background-color: rgba(255, 186, 107, 0.582);
    width: 90%;
    height: 10%;
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-top: 5%;
}

.descripcion{
    background-color: rgb(250, 242, 233);
    background-image: url(/images/bckground.jpg);
    background-size: 100% 85%;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 5%;
    color:black;
}

.descripcion_boton{
    background-color: rgb(255, 189, 65);
    width: 30%;
    height: 10%;
    text-align: top;
    font-size: 20px;
    margin-top: 5%;
}

.descripcion_boton:hover{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 189, 65);
}

.proyectos{
    background-color: argb(250, 242, 233);
    width: 100%;
    height: auto;
    margin-top: 5%;
}

.proyectos_cabecera{
    font-size: 30px;
    height: 15%;
    background-color: rgba(255, 186, 107, 0.582);
}

.proyectos_slideshow{
    height: 30vh;
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    text-align: center;
    font-size: 20px;
}

.proyectos_slideshow > div > img{
    width: 100%;
    height: 100%;
}

.proyectos_selector{
    justify-content: center;
    display: flex;
    height: 5%;
}

.slideshow_dot{
    background-color: rgb(255, 189, 65);
    width: 16px;
    height: 16px;
    border-color: black;
    border-radius: 50%;
    display: block;
    margin: 5px;
}

.skills{
    background-color: rgb(250, 242, 233);
    width: 100%;
    height: 300px;
    margin-top: 5%;
}

.skills_titulo{
    font-size: 30px;
    background-color: rgba(255, 186, 107, 0.582);
}

.skills_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills h2{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 5%;
    margin-bottom: 5px;
    color: black;
    font-size: 16px;
}

.progress_bar{
    background: #959595;
    width: 300px;
    height: 5%;
    border-radius: 5px;
}

.progress_bar > div{
    height: 5%;
    border-radius: 5px;
    width: 0%;
    background: orange;
}

.skills_html{
    animation: skills_html 1s linear forwards;
}

.skills_css{
    animation: skills_css 1s linear forwards;
}

.skills_js{
    animation: skills_js 1s linear forwards;
}

.skills_git{
    animation: skills_git 1s linear forwards;
}

@keyframes skills_html {
    100%{
        width: 80%;
    }
}

@keyframes skills_css {
    100%{
        width: 70%;
    }
}

@keyframes skills_js {
    100%{
        width: 60%;
    }
}

@keyframes skills_git {
    100%{
        width: 40%;
    }
}

.form{
    background-color: rgb(250, 242, 233);
    width: 100%;
    height: 600px;
    margin-top: 5%;
    text-align: center;
}

.form_titulo{
    font-size: 30px;
    height: 8%;
    background-color: rgba(255, 186, 107, 0.582);
}

.form_campos{

}

.form_name{
    width: 90%;
    margin-top: 5%;
}

.form_lastname{
    width: 90%;
    margin-top: 5%;
}

.form_email{
    width: 90%;
    margin-top: 5%;
}

.form_phone{
    width: 90%;
    margin-top: 5%;
}

.form_conocido{
    width: 80%;
    margin-top: 5%;

}

.radios{
    align: ;

}

.form_github{
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}

.form_comentario{
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}

.form_button{
    background-color: rgb(255, 189, 65);
    width: 30%;
    height: 10%;
    text-align: top;
    font-size: 20px;
    margin-top: 5%;
}

.form_button:hover{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 189, 65)
}

.redes{
    background-color: rgba(255, 186, 107, 0.582);
    width: 100%;
    height: 70px;
    margin-top: 5%;
}

.redes_botones > a > img {
    height: auto;
    max-width: 50px;
}


.linkedin{

}

.instagram{

}

.titulo{

}

.video{

}

.listadoProyectos{

}

.listadoProyectos_titulo{

}

.listadoProyectos_grid{

}